body{
	background-color:#8eb8e5;
	
}
header{
	color:white;
	margin:1rem;
	text-align: center;
}
button{
	margin:1rem;
	background-color: #8eb8e5;
	border: 2px solid white;
	border-radius: 30px;
	color: white;
	width: 50%;
	height: 5rem;

}
#hazelimg{
	margin: 1rem;
	border-radius: 30px;
	width: 50%;
	border: 2px solid white;
}
#icon{
	float: left;
	height: 40px;
	border-radius: 30px;
	position: absolute;
	margin-left: 10px;
}
#maindiv{
	text-align: center;
}